nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 100%;

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
}